


		body
		{
		background-image:url(bgr.jpeg);
		}

		h2{
			background-color:white;
			text-align:center;
			font-weight:bold;
		}
		p,ul{
			color:white;
			font-family:arial;
			font-weight:bold;
			font-style:italic;

		}
		
		span{ border:2px solid grey;
				border-radius:5px;


			color:white;
			
		}


		

